html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
#wrapper{
    width: 600px;
    height: 458px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #1C1C1C;
    padding: 20px;
    margin: 20px;
}
button{
    font-size: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
button:hover{
    background-color: #ebebeb;
}
button:active{
    background-color: #bbbcbe;
}
/*
button:last-child {
    background-color: #df974c;
    color: white;
}
button:last-child:hover {
    background-color: #dfb07e;
}
button:last-child:active {
    background-color: #dd8d37;
}
button-row:last-child {
    padding-bottom: 0;
}*/
.Btns{
    display: grid;
    grid-gap: 10px;
    text-align: center;
    padding: 0;
    margin: 0;
    
}
.section{
    background-color:#1C1C1C;
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;    
}
.ac{
    background-color: #D4D4D2;
    width: 50px;
    height: 50px;
    border-radius:50%;
    grid-column:;
    grid-row:;
    font-size: 30px;
}
.or{
    background-color: #D4D4D2;
    width: 50px;
    height: 50px;
    margin-left:;
    border-radius:50%;
    font-size: 30px;

}
.percent{
    background-color: #D4D4D2;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    border-radius:50%;
    font-size: 30px;
    
}
.division{
    background-color: #FF9500;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    margin-left: ;
    border-radius:50%;
    padding-top: ;
}
.seven{
    background-color: #505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    margin-left: ;
    border-radius:50%;
    padding-top: ;
}
.eight{
    background-color: #505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    margin-left: ;
    border-radius:50%;
    padding-top:;

}
.nine{
    background-color: #505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    margin-left:;
    border-radius:50%;
    padding-top: ;
}
.multiply{
    background-color: #FF9500;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    margin-left: ;
    border-radius:50%;
    padding-top:;
}
.four{
    background-color: #505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    margin-left: ;
    border-radius:50%;
    padding-top: ;
}
.five{
    background-color:#505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    margin-left: ;
    border-radius:50%;
    padding-top: ;

}
.six{
    background-color: #505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    border-radius:50%;
    
}
.minus{
    background-color: #FF9500;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    
    border-radius:50%;
    
}
.one{
    background-color: #505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    
    border-radius:50%;
    
}
.two{
    background-color: #505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
   
    border-radius:50%;
    
}
.three{
    background-color: #505050;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    
    border-radius:50%;
    

}
.plus{
    background-color: #FF9500;
    color: white;
    grid-column: ;
    grid-row: ;
    width: 50px;
    height: 50px;
    
    border-radius:50%;
   
}
.zero{
    background-color: #505050;
    color: white;
    grid-column:1/3 ;
    grid-row:19/20 ;
    width: 20%;
    
    border-radius:30px;
   


}
.point{
    background-color:#505050 ;
    color: white;
    grid-column: 3/4;
    grid-row:19/20 ;
    width: 50px;
    height: 50px;
   
    border-radius:50%;
    
}
.equals{
    background-color: #FF9500;
    color:white;
    grid-column:4/5 ;
    grid-row:19/20 ;
    width: 50px;
    height: 50px;
    
    border-radius:50%;
    
}
@media (max-width:749px){
    .wrapper{
        display: block;
    }
}